body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f0f7ff; /* Water color */
}

#fish-canvas {
    display: block;
    width: 100%;
    height: 100%;
}
